Repository dtrinity/fraxtal-solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check-typescript, lint-check-contract

.pre-commit-config.yaml:

# Ref: https://sourcery.ai/blog/python-best-practices/

repos:
  - repo: local
    hooks:
      - id: lint-check-typescript
        name: Lint and type-check TypeScript
        stages: [pre-commit]
        language: system
        entry: make lint.typescript.ci
        types: [file]  # override `types: [json]`
        files: \.(json|js|ts)$
      - id: lint-check-contract
        name: Lint and type-check Solidity contract
        stages: [pre-commit]
        language: system
        entry: make lint.contract.ci
        types: [file]  # override `types: [json]`
        files: \.(sol)$

New markets, liquidator bot improvements
  .dockerignore
  .gitignore
  Makefile
  config/networks/fraxtal_mainnet.ts
  config/networks/fraxtal_testnet.ts
  config/networks/localhost.ts
  deploy/11_add_new_reserves_202502/00_configure_api3_and_curve_wrappers.ts
  deploy/11_add_new_reserves_202502/01_point_oracle_aggregator.ts
  deploy/11_add_new_reserves_202502/02_add_reserves.ts
  deploy/12_update_sfrxUSD_api3_oracle/00_update_oracle_wrapper.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/FRAX-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FRAX-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FRAX-VariableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20251231-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20251231-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20251231-VariableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20551231-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20551231-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/FXB20551231-VariableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/USDe-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/sDAI-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/sDAI-VariableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/scrvUSD-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/scrvUSD-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/scrvUSD-VariableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/sfrxUSD-AToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/sfrxUSD-StableDebtToken-dTrinity-Lend.json
  deployments/fraxtal_mainnet/sfrxUSD-VariableDebtToken-dTrinity-Lend.json
  liquidator-bot-image/materials/amd64-x86_64/README.md
  liquidator-bot-image/materials/amd64-x86_64/run-x86.cmd
  liquidator-bot-image/materials/arm64/README.md
  liquidator-bot-image/materials/arm64/run-arm64.command
  scripts/api3/set_mock_price.ts
  scripts/lending/reserve_configs/set_reserve_config.ts
  scripts/liquidator-bot/combo/run.ts
  scripts/liquidator-bot/slack-reporter/run.ts
  utils/lending/reserves-configs.ts
  utils/token.ts
Due: lint-check-typescript

Update memento to 0.8.0
  .claude/commands/memento.md
  .claude/commands/mode.md
  .claude/commands/ticket.md
  .claude/settings.local.json
  .memento/config.json
  .memento/hooks/definitions/acronym-expander.json
  .memento/hooks/definitions/git-context-loader.json
  .memento/hooks/definitions/memento-routing.json
  .memento/hooks/definitions/project-overview.json
  .memento/hooks/scripts/acronym-expander.sh
  .memento/hooks/scripts/git-context-loader.sh
  .memento/hooks/scripts/memento-routing.sh
  .memento/hooks/scripts/project-overview.sh
  .memento/manifest.json
  .memento/scripts/list-modes.sh
  .memento/scripts/mode-switch.sh
  .memento/scripts/ticket-context.sh
Due: lint-check-typescript

Implement sdUSDBalanceChecker contract for ERC4626 vault balance queries
  .memento/tickets/in-progress/sdusd-balance-checker-design.md
  contracts/vaults/dstake/sdUSDBalanceChecker.sol
  test/vaults/dstake/sdUSDBalanceChecker.test.ts
Due: lint-check-typescript, lint-check-contract

Address PR feedback and add standalone deployment script
  .memento/tickets/in-progress/sdusd-balance-checker-design.md
  contracts/vaults/dstake/sdUSDBalanceChecker.sol
  deploy/05_vaults_dstake/00_deploy_sdusd_balancechecker.ts
  deploy/20_sdusd_balance_checker/00_deploy_sdusd_balancechecker.ts
  test/vaults/dstake/sdUSDBalanceChecker.test.ts
Due: lint-check-typescript, lint-check-contract

Address additional PR feedback
  deploy/05_vaults_dstake/00_deploy_sdusd_balancechecker.ts
  deploy/20_sdusd_balance_checker/00_deploy_sdusd_balancechecker.ts
Due: lint-check-typescript

Fix critical production bug and test failures in sdUSD balance checker
  contracts/token/MockERC4626Token.sol
  contracts/vaults/dstake/sdUSDBalanceChecker.sol
  deploy/20_sdusd_balance_checker/00_deploy_sdusd_balancechecker.ts
  test/vaults/dstake/sdUSDBalanceChecker.test.ts
Due: lint-check-typescript, lint-check-contract

Fix GitHub Actions CI failure - ES module syntax error
  scripts/disable_tscheck_typechain.js
Due: lint-check-typescript

Fix 3 failing CI tests - precision and tolerance issues
  test/ecosystem/lending.ts
  test/ecosystem/liquidator-bot/uniswap-v3/liquidation.ts
Due: lint-check-typescript

Migrate legacy FRAX/USD oracles to new frxUSD/USD oracles
  config/networks/fraxtal_mainnet.ts
Due: lint-check-typescript

Auto-format code with Prettier via make lint
  test/ecosystem/lending.ts
Due: lint-check-typescript

Add generalized FXTL balance checker architecture
  contracts/fxtl_balance_checkers/README.md
  contracts/fxtl_balance_checkers/base/BaseBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/DLendBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/ERC4626BalanceChecker.sol
  contracts/fxtl_balance_checkers/interfaces/IBalanceChecker.sol
  contracts/fxtl_balance_checkers/test/BaseBalanceCheckerTest.sol
  contracts/fxtl_balance_checkers/test/ERC4626BalanceCheckerTest.sol
  contracts/fxtl_balance_checkers/test/MockERC4626.sol
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  deploy/21_fxtl_balance_checkers/01_deploy_dlend_balance_checker.ts
  deploy/21_fxtl_balance_checkers/02_deploy_sdusd_balance_checker.ts
  deploy/21_fxtl_balance_checkers/README.md
Due: lint-check-typescript, lint-check-contract

Migrate to generalized FXTL balance checker architecture
  .memento/tickets/in-progress/balance-checker-architecture-analysis.md
  contracts/dlend/dLendBalanceChecker.sol
  contracts/fxtl_balance_checkers/base/BaseBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/DLendBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/ERC4626BalanceChecker.sol
  contracts/fxtl_balance_checkers/interfaces/IBalanceChecker.sol
  contracts/fxtl_balance_checkers/test/BaseBalanceCheckerTest.sol
  contracts/fxtl_balance_checkers/test/ERC4626BalanceCheckerTest.sol
  contracts/fxtl_balance_checkers/test/MockERC4626.sol
  contracts/vaults/dstake/sdUSDBalanceChecker.sol
  deploy/07_dlend_fxtl/00_deploy_dlend_balancechecker.ts
  deploy/20_sdusd_balance_checker/00_deploy_sdusd_balancechecker.ts
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  deploy/21_fxtl_balance_checkers/01_deploy_dlend_balance_checker.ts
  deploy/21_fxtl_balance_checkers/02_deploy_sdusd_balance_checker.ts
  deploy/21_fxtl_balance_checkers/README.md
  test/dlend/DLendBalanceChecker.test.ts
  test/fxtl_balance_checkers/DLendBalanceChecker.test.ts
  test/fxtl_balance_checkers/ERC4626BalanceChecker.test.ts
  test/vaults/dstake/sdUSDBalanceChecker.test.ts
Due: lint-check-typescript, lint-check-contract

Complete balance checker cleanup and deployment script reorganization
  deploy/07_dlend_fxtl/00_deploy_dlend_balancechecker.ts
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  deploy/21_fxtl_balance_checkers/02_deploy_sdusd_balance_checker.ts
Due: lint-check-typescript

Delete lingering files
  contracts/dlend/README.md
  contracts/dlend/interfaces/IBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/ERC4626BalanceChecker.sol
Due: lint-check-contract

Fix failing tests
  test/ecosystem/lending.ts
  test/ecosystem/liquidator-bot/uniswap-v3/liquidation.ts
  test/ecosystem/utils.math.ts
Due: lint-check-typescript

Implement sdUSD Balance Checker for Flox Farms Integration (#1)
  .claude/commands/memento.md
  .claude/commands/mode.md
  .claude/commands/ticket.md
  .claude/settings.local.json
  .memento/config.json
  .memento/hooks/definitions/acronym-expander.json
  .memento/hooks/definitions/git-context-loader.json
  .memento/hooks/definitions/memento-routing.json
  .memento/hooks/definitions/project-overview.json
  .memento/hooks/scripts/acronym-expander.sh
  .memento/hooks/scripts/git-context-loader.sh
  .memento/hooks/scripts/memento-routing.sh
  .memento/hooks/scripts/project-overview.sh
  .memento/manifest.json
  .memento/scripts/list-modes.sh
  .memento/scripts/mode-switch.sh
  .memento/scripts/ticket-context.sh
  .memento/tickets/in-progress/balance-checker-architecture-analysis.md
  contracts/dlend/README.md
  contracts/dlend/dLendBalanceChecker.sol
  contracts/fxtl_balance_checkers/README.md
  contracts/fxtl_balance_checkers/base/BaseBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/DLendBalanceChecker.sol
  contracts/fxtl_balance_checkers/implementations/ERC4626BalanceChecker.sol
  contracts/fxtl_balance_checkers/interfaces/IBalanceChecker.sol
  contracts/token/MockERC4626Token.sol
  deploy/07_dlend_fxtl/00_deploy_dlend_balancechecker.ts
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  scripts/disable_tscheck_typechain.js
  test/dlend/DLendBalanceChecker.test.ts
  test/ecosystem/lending.ts
  test/ecosystem/liquidator-bot/uniswap-v3/liquidation.ts
  test/ecosystem/utils.math.ts
  test/fxtl_balance_checkers/DLendBalanceChecker.test.ts
  test/fxtl_balance_checkers/ERC4626BalanceChecker.test.ts
Due: lint-check-typescript, lint-check-contract

Deploy to mainnet
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ERC4626BalanceChecker_sdUSD.json
  deployments/fraxtal_mainnet/dLend_ATokenWrapper_dUSD.json
  scripts/fxtl_balance_checkers/README.md
  scripts/fxtl_balance_checkers/test_erc4626_balance_checker.ts
Due: lint-check-typescript

Refactor address validation in BaseBalanceChecker to remove hard-coded limits, allowing unlimited addresses for batch processing. Update documentation to reflect this change.
  contracts/fxtl_balance_checkers/README.md
  contracts/fxtl_balance_checkers/base/BaseBalanceChecker.sol
Due: lint-check-contract

Redeploy balance checker
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ERC4626BalanceChecker_sdUSD.json
  deployments/fraxtal_mainnet/dLend_ATokenWrapper_dUSD.json
Due: lint-check-typescript

Remove address limits from balance checkers (#3)
  contracts/fxtl_balance_checkers/README.md
  contracts/fxtl_balance_checkers/base/BaseBalanceChecker.sol
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ERC4626BalanceChecker_sdUSD.json
  deployments/fraxtal_mainnet/dLend_ATokenWrapper_dUSD.json
Due: lint-check-typescript, lint-check-contract

feat: Add IssuerV2 and RedeemerV2 migration for Fraxtal
  contracts/dusd/IssuerV2.sol
  contracts/dusd/RedeemerV2.sol
  deploy/15_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/15_issue_redeem_v2/2_setup_redeemerv2.ts
  test/dusd/IssuerV2.ts
  test/dusd/RedeemerV2.ts
  utils/deploy-ids.ts
  utils/hardhat/access_control.ts
Due: lint-check-typescript, lint-check-contract

fix: Rename migration dir 15_issue_redeem_v2 to 22_issue_redeem_v2 and resolve lint issues
  contracts/dusd/IssuerV2.sol
  contracts/dusd/RedeemerV2.sol
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  test/dusd/IssuerV2.ts
  test/dusd/RedeemerV2.ts
Due: lint-check-typescript, lint-check-contract

Revoke roles from legacy Redeemer and RedeemerWithFees contracts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
Due: lint-check-typescript

feat: Enhance governance and role management with Safe integration
  config/networks/fraxtal_mainnet.ts
  config/types.ts
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  package.json
  scripts/roles/lib/scan.ts
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-forfeit-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
  typescript/hardhat/governance.ts
  typescript/safe/SafeManager.ts
  typescript/safe/types.ts
  yarn.lock
Due: lint-check-typescript

fix: Fix deployment and test issues for Fraxtal IssuerV2/RedeemerV2 migration
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  test/dusd/IssuerV2.ts
  test/dusd/Redeemer.ts
  test/dusd/RedeemerV2.ts
Due: lint-check-typescript

Merge
  .prettierrc
  .vscode/settings.json
  Makefile
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  test/ecosystem/utils.token.ts
  typescript/hardhat/governance.ts
  typescript/safe/SafeManager.ts
Due: lint-check-typescript

Lint alignment
  Makefile
  test/dusd/IssuerV2.ts
  test/dusd/RedeemerV2.ts
  tsconfig.json
  typescript/deploy-ids.ts
Due: lint-check-typescript

fix: Make deployment scripts truly idempotent
  deploy/17_dstake/01_deploy_dstake_core.ts
  utils/lending/deploy/00_core/00_markets_registry.ts
  utils/lending/deploy/01_periphery_pre/01_treasury.ts
  utils/lending/deploy/03_periphery_post/05_incentives.ts
Due: lint-check-typescript

Fix safe bundle not generated
  deploy/17_dstake/01_deploy_dstake_core.ts
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  tsconfig.json
  typescript/hardhat/governance.ts
  typescript/safe/SafeManager.ts
  utils/hardhat/access_control.ts
  utils/lending/deploy/00_core/00_markets_registry.ts
  utils/lending/deploy/01_periphery_pre/01_treasury.ts
  utils/lending/deploy/03_periphery_post/05_incentives.ts
Due: lint-check-typescript

Deploy contracts to mainnet
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/IssuerV2.json
  deployments/fraxtal_mainnet/RedeemerV2.json
Due: lint-check-typescript

fix: lint
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
Due: lint-check-typescript

feat: Add IssuerV2 and RedeemerV2 migration for Fraxtal (#4)
  .prettierrc
  .vscode/settings.json
  Makefile
  config/networks/fraxtal_mainnet.ts
  config/types.ts
  contracts/dusd/IssuerV2.sol
  contracts/dusd/RedeemerV2.sol
  deploy/17_dstake/01_deploy_dstake_core.ts
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/IssuerV2.json
  deployments/fraxtal_mainnet/RedeemerV2.json
  package.json
  scripts/roles/lib/scan.ts
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-forfeit-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
  test/dusd/IssuerV2.ts
  test/dusd/Redeemer.ts
  test/dusd/RedeemerV2.ts
  test/ecosystem/utils.token.ts
  tsconfig.json
  typescript/deploy-ids.ts
  typescript/hardhat/governance.ts
  typescript/safe/SafeManager.ts
  typescript/safe/types.ts
  utils/deploy-ids.ts
  utils/hardhat/access_control.ts
  utils/lending/deploy/00_core/00_markets_registry.ts
  utils/lending/deploy/01_periphery_pre/01_treasury.ts
  utils/lending/deploy/03_periphery_post/05_incentives.ts
  yarn.lock
Due: lint-check-typescript, lint-check-contract

Clean up .vscode/settings.json
  .vscode/settings.json
Due: lint-check-typescript

Auto format on save
  .vscode/settings.json
Due: lint-check-typescript

Clean up .vscode/settings.json (#5)
  .vscode/settings.json
Due: lint-check-typescript

feat: Add Curve LP token oracle wrapper for StableSwap pools
  contracts/oracle_aggregator/interface/curve/ICurveLPOracleWrapper.sol
  contracts/oracle_aggregator/wrapper/CurveLPOracleWrapper.sol
  contracts/test/curve/MockCurveStableSwapLP.sol
  test/oracle_aggregator/CurveLPOracleWrapper.ts
Due: lint-check-typescript, lint-check-contract

Two implementations to consider. Hard-code to $1 vs use weighted oracles
  contracts/oracle_aggregator/interface/curve/CurveStableSwapNG_overview.md
  contracts/oracle_aggregator/wrapper/CurveLPBaseWrapper.sol
  contracts/oracle_aggregator/wrapper/CurveLPHardPegOracleWrapper.sol
  contracts/oracle_aggregator/wrapper/CurveLPOracleWrapper.sol
  contracts/oracle_aggregator/wrapper/CurveLPWeightedOracleWrapper.sol
  contracts/test/curve/MockCurveStableNG.sol
  test/oracle_aggregator/CurveLPHardPegOracleWrapper.test.ts
  test/oracle_aggregator/CurveLPOracleWrapper.ts
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
Due: lint-check-typescript, lint-check-contract

feat: Add mock contracts for Curve Stable NG pools
  contracts/test/curve/MockCurveStableNGForLP.sol
  contracts/test/curve/MockCurveStableNGPoolForOracle.sol
  test/oracle_aggregator/CurveAPI3CompositeWrapperWithThresholding.ts
  test/oracle_aggregator/CurveLPHardPegOracleWrapper.test.ts
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
  test/oracle_aggregator/CurveOracleWrapper.ts
  test/oracle_aggregator/fixtures.ts
Due: lint-check-typescript, lint-check-contract

refactor: Use D_oracle() instead of get_virtual_price() for flash-loan resistance
  contracts/oracle_aggregator/wrapper/CurveLPWeightedOracleWrapper.sol
  contracts/test/curve/MockCurveStableNGForLP.sol
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
Due: lint-check-typescript, lint-check-contract
