Repository dtrinity/fraxtal-solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check-typescript, lint-check-contract

lint-check-typescript:
  name: Lint and type-check TypeScript
  stages:
  - pre-commit
  language: system
  entry: make lint.typescript.ci

lint-check-contract:
  name: Lint and type-check Solidity contract
  stages:
  - pre-commit
  language: system
  entry: make lint.contract.ci

Round down aToken withdraw balance
  contracts/lending/core/protocol/libraries/logic/SupplyLogic.sol
  contracts/lending/core/protocol/libraries/math/WadRayMath.sol
Due: lint-check-contract

added tests for potential attack and fix
  scripts/poc/fraxtal-fork.hardhat.config.ts
  test/lending/fraxtal/rounding-fork.test.ts
Due: lint-check-typescript

fix: apply minimal dLEND directional rounding patch
  contracts/lending/core/mocks/tests/RoundingHarnesses.sol
  contracts/lending/core/protocol/libraries/logic/SupplyLogic.sol
  contracts/lending/core/protocol/libraries/math/WadRayMath.sol
  contracts/lending/core/protocol/tokenization/AToken.sol
  contracts/lending/core/protocol/tokenization/VariableDebtToken.sol
  contracts/lending/core/protocol/tokenization/base/ScaledBalanceTokenBase.sol
  test/dlend/DirectionalRounding.test.ts
Due: lint-check-typescript, lint-check-contract

test: add rounding attack repro and upgrade scripts
  contracts/lending/core/mocks/tests/RoundingHarnesses.sol
  deploy/25_dlend_directional_rounding/00_deploy_minimal_directional_rounding_impls.ts
  deploy/25_dlend_directional_rounding/01_upgrade_minimal_directional_rounding.ts
  test/dlend/DirectionalRounding.test.ts
  utils/lending/directional-rounding-upgrade.ts
Due: lint-check-typescript, lint-check-contract

test: add withdraw and transfer rounding regressions
  test/dlend/DirectionalRounding.test.ts
  test/dlend/DirectionalRounding.withdraw.test.ts
Due: lint-check-typescript

upgraded hardhat
  package.json
  yarn.lock
Due: lint-check-typescript

feat: update fraxtal dusd dlend interest curve
  config/networks/fraxtal_mainnet.ts
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
  utils/lending/rate-strategies.ts
Due: lint-check-typescript

Mainnet deployment
  deployments/fraxtal_mainnet/ReserveStrategy-rateStrategyDUSDFraxtalMainnetV2.json
Due: lint-check-typescript

Fix dUSD rate update fixture config lookup
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
Due: lint-check-typescript

Add migration artifact
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
  deployments/fraxtal_mainnet/.migrations.json
  hardhat.config.ts
Due: lint-check-typescript

feat: update fraxtal dUSD dLEND interest curve (#24)
  config/networks/fraxtal_mainnet.ts
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ReserveStrategy-rateStrategyDUSDFraxtalMainnetV2.json
  hardhat.config.ts
  utils/lending/rate-strategies.ts
Due: lint-check-typescript

fix: mitigate flash loan index inflation attack
  contracts/lending/core/deployments/AtomicMarketListingHelper.sol
  contracts/lending/core/protocol/libraries/logic/FlashLoanLogic.sol
  contracts/lending/core/protocol/pool/Pool.sol
  deploy/25_lending_security_upgrade/00_deploy_atomic_market_listing_helper.ts
  deploy/25_lending_security_upgrade/01_deploy_lending_security_upgrade_pool_impl.ts
  deploy/25_lending_security_upgrade/02_grant_atomic_market_listing_helper_roles.ts
  test/dlend/security-upgrade/AtomicMarketListingHelper.test.ts
  test/dlend/security-upgrade/FlashLoanPremiumRouting.test.ts
  test/dlend/security-upgrade/fixtures.ts
  utils/lending/security-upgrade-ids.ts
Due: lint-check-typescript, lint-check-contract

fix: address codex review comments and fix CI
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  deploy/25_lending_security_upgrade/00_deploy_atomic_market_listing_helper.ts
  deploy/25_lending_security_upgrade/01_deploy_lending_security_upgrade_pool_impl.ts
  deploy/25_lending_security_upgrade/02_grant_atomic_market_listing_helper_roles.ts
  test/dlend/security-upgrade/AtomicMarketListingHelper.test.ts
  test/dlend/security-upgrade/FlashLoanPremiumRouting.test.ts
  test/dlend/security-upgrade/fixtures.ts
Due: lint-check-typescript

fix: use shared constants for deploy IDs
  deploy/25_lending_security_upgrade/01_deploy_lending_security_upgrade_pool_impl.ts
  reports/deploy-ids.json
Due: lint-check-typescript

sdai/dai hardpegged
  deploy/26_hardcode_dai_sdai_oracles/00_point_oracle_aggregator.ts
  test/oracle_aggregator/OracleAggregator.ts
Due: lint-check-typescript

fixed lint
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  deploy/26_hardcode_dai_sdai_oracles/00_point_oracle_aggregator.ts
Due: lint-check-typescript

fix: gate helper roles on pool upgrade
  deploy/25_lending_security_upgrade/02_grant_atomic_market_listing_helper_roles.ts
Due: lint-check-typescript

Deploy on mainnet
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/AtomicMarketListingHelper.json
  deployments/fraxtal_mainnet/FlashLoanLogic-SecurityUpgrade.json
  deployments/fraxtal_mainnet/L2Pool-Implementation-SecurityUpgrade.json
Due: lint-check-typescript

Add DLend freeze guardian
  contracts/lending/periphery/misc/DlendFreezeGuardian.sol
  contracts/test/dlend/MockDlendFreezeGuardianDependencies.sol
  deploy/26_dlend_freeze_guardian/00_deploy_dlend_freeze_guardian.ts
  deploy/26_dlend_freeze_guardian/01_grant_dlend_freeze_guardian_role.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/DlendFreezeGuardian.json
  deployments/fraxtal_mainnet/safe-builder-batch-0x045e9549e67ec4834576405589d16d9cf3018b86a020f1001cfef11899a0dc33.json
  test/dlend/security-upgrade/DlendFreezeGuardian.test.ts
  utils/hardhat-config/named_accounts.ts
  utils/lending/deploy-ids.ts
Due: lint-check-typescript, lint-check-contract

fix: mitigate flash loan index inflation attack (#25)
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  contracts/lending/core/deployments/AtomicMarketListingHelper.sol
  contracts/lending/core/protocol/libraries/logic/FlashLoanLogic.sol
  contracts/lending/core/protocol/pool/Pool.sol
  deploy/25_lending_security_upgrade/00_deploy_atomic_market_listing_helper.ts
  deploy/25_lending_security_upgrade/01_deploy_lending_security_upgrade_pool_impl.ts
  deploy/25_lending_security_upgrade/02_grant_atomic_market_listing_helper_roles.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/AtomicMarketListingHelper.json
  deployments/fraxtal_mainnet/FlashLoanLogic-SecurityUpgrade.json
  deployments/fraxtal_mainnet/L2Pool-Implementation-SecurityUpgrade.json
  reports/deploy-ids.json
  test/dlend/security-upgrade/AtomicMarketListingHelper.test.ts
  test/dlend/security-upgrade/FlashLoanPremiumRouting.test.ts
  test/dlend/security-upgrade/fixtures.ts
  utils/lending/security-upgrade-ids.ts
Due: lint-check-typescript, lint-check-contract

chore(roles): prepare Fraxtal deployer governance migration
  .gitignore
  .shared/README.md
  .shared/lib/roles/governance-targets.ts
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/proxy-admin.ts
  .shared/lib/roles/scan.ts
  .shared/lib/transactions.ts
  .shared/scripts/roles/grant-default-admin.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-ownership.ts
  .shared/scripts/tests/run.ts
  manifests/fraxtal-mainnet-roles.json
Due: lint-check-typescript

chore(shared): sync default admin grant target fix
  .shared/lib/transactions.ts
  .shared/scripts/roles/grant-default-admin.ts
Due: lint-check-typescript

chore(roles): prepare Fraxtal deployer governance migration (#30)
  .gitignore
  .shared/README.md
  .shared/lib/roles/governance-targets.ts
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/proxy-admin.ts
  .shared/lib/roles/scan.ts
  .shared/lib/transactions.ts
  .shared/scripts/roles/grant-default-admin.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-ownership.ts
  .shared/scripts/tests/run.ts
  manifests/fraxtal-mainnet-roles.json
Due: lint-check-typescript

Add Safe transaction introspection docs
  docs/safe-transaction-introspection.md
  manifests/fraxtal-mainnet-roles.json
Due: lint-check-typescript

chore: remove Claude Code GitHub Actions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: remove Claude Code GitHub Actions (#31)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Path conditions:
  lint-check-typescript: any of: \.(json|js|ts)$
  lint-check-contract: any of: \.(sol)$
