Repository dtrinity/fraxtal-solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check-typescript, lint-check-contract

lint-check-typescript:
  name: Lint and type-check TypeScript
  stages:
  - pre-commit
  language: system
  entry: make lint.typescript.ci

lint-check-contract:
  name: Lint and type-check Solidity contract
  stages:
  - pre-commit
  language: system
  entry: make lint.contract.ci

Remove CollateralVault changes and add role migration script
  contracts/dusd/CollateralVault.sol
  deploy/23_dusd_upgrade_v2_2/00_deploy_issuer_v2_2.ts
  deploy/23_dusd_upgrade_v2_2/01_deploy_amo_manager_v2.ts
  deploy/23_dusd_upgrade_v2_2/02_setup_issuer_v2_2.ts
Due: lint-check-typescript, lint-check-contract

Configure debt token collateral & tighten vault tests
  deploy/23_dusd_upgrade_v2_2/02_setup_issuer_v2_2.ts
  test/dusd/CollateralHolderVault.ts
Due: lint-check-typescript

Re-organize dstable -> dusd dir for consistency
  contracts/dusd/RedeemerWithFees.sol
  test/dusd/RedeemerWithFees.test.ts
Due: lint-check-typescript, lint-check-contract

Fix dUSD v2.2 upgrade wiring and governance handoff
  deploy/23_dusd_upgrade_v2_2/01_deploy_amo_manager_v2.ts
  deploy/23_dusd_upgrade_v2_2/02_setup_issuer_v2_2.ts
Due: lint-check-typescript

Skip already deployed contracts for atoken wrappers
  deploy/16_static_atoken_wrapper/01_deploy_static_atoken_factory.ts
  deploy/16_static_atoken_wrapper/02_deploy_static_atoken_wrappers.ts
  deploy/16_static_atoken_wrapper/03_configure_static_atoken_wrappers.ts
  deploy/16_static_atoken_wrapper/05_check_deployment_status.ts
Due: lint-check-typescript

Harden idempotency
  deploy/15_redeemer_with_fees/01_deploy_redeemer_with_fees.ts
  deploy/17_dstake/01_deploy_dstake_core.ts
  deploy/17_dstake/02_deploy_conversion_adapter.ts
  deploy/18_vesting_dstake/01_deploy_vesting_nft.ts
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  deploy/23_dusd_upgrade_v2_2/00_deploy_issuer_v2_2.ts
Due: lint-check-typescript

More idempotency fixes
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
Due: lint-check-typescript

Even more idempotency fixes
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  deployments/fraxtal_mainnet/.migrations.json
Due: lint-check-typescript

Deploy Issuer v2.2 and new debt AMO system to mainnet
  deploy/23_dusd_upgrade_v2_2/01_deploy_amo_manager_v2.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/AmoDebtToken.json
  deployments/fraxtal_mainnet/AmoManagerV2.json
  deployments/fraxtal_mainnet/IssuerV2_2.json
Due: lint-check-typescript

Update hardhat verify for Fraxscan
  .shared/.gitignore
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/README.md
  .shared/RolesScriptRefactorPlan.md
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  .shared/hooks/pre-push
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/safe-manager.ts
  .shared/lib/roles/types.ts
  .shared/scripts/guardrails/check.ts
  Makefile
  hardhat.config.ts
Due: lint-check-typescript

Lint
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  deploy/16_static_atoken_wrapper/02_deploy_static_atoken_wrappers.ts
  deploy/17_dstake/02_deploy_conversion_adapter.ts
  deploy/21_fxtl_balance_checkers/00_deploy_erc4626_balance_checker.ts
  deploy/23_dusd_upgrade_v2_2/00_deploy_issuer_v2_2.ts
  deploy/23_dusd_upgrade_v2_2/01_deploy_amo_manager_v2.ts
  scripts/deployments/verify.ts
  scripts/verify-deployments.ts
Due: lint-check-typescript

Fix guardrail lint issues and harden verify scripts
  .github/workflows/shared-guardrails.yml
  scripts/curve-tools/src/main.ts
  scripts/deployments/verify.ts
  scripts/verify-deployments.ts
Due: lint-check-typescript

Fix TypeScript errors and update tooling
  config/networks/fraxtal_testnet.ts
  config/types.ts
  lib/logger.ts
  lib/utils.ts
  lib/verification/etherscan.ts
  package.json
  scripts/curve-tools/src/main.ts
  scripts/curve-tools/src/server.ts
  scripts/dex/execute_swap/utils.ts
  scripts/dex/quote_swap.ts
  scripts/dloop/rebalance-bot/run.ts
  scripts/oracle/update_curve_api3_thresholding.ts
  test/curve/StableSwapNG.ts
  test/curve/StableSwapNGAmoVault.ts
  test/dusd/CurveStableSwapNGAmoVault.ts
  test/dusd/IssuerV2_2.ts
  test/dusd/RedeemerWithFees.test.ts
  test/ecosystem/DLoop.fixtures.ts
  test/ecosystem/utils.dloop.ts
  test/fxtl_balance_checkers/ERC4626BalanceChecker.test.ts
  test/vaults/dstake/DStakeRouterDLend.test.ts
  test/vaults/dstake/DStakeSecurity.test.ts
  test/vaults/vesting/ERC20VestingNFT.test.ts
  types/legacy-typechain.d.ts
  utils/lending/deploy/01_periphery_pre/01_treasury.ts
  yarn.lock
Due: lint-check-typescript

Lint
  scripts/dloop/rebalance-bot/run.ts
Due: lint-check-typescript

Fix TypeScript guardrails config
  tsconfig.shared.json
Due: lint-check-typescript

Limit guardrails TypeScript scope to shared tools
  tsconfig.shared.json
Due: lint-check-typescript

Upgrade Issuer to v2.2 introducing supply caps and debt AMO (#17)
  .gitignore
  INTEGRATION.md
  Makefile
  README.md
  RolesScriptRefactorPlan.md
  configs/eslint.config.mjs
  configs/prettier.config.cjs
  hooks/pre-push
  lib/roles/manifest.ts
  lib/roles/safe-manager.ts
  lib/roles/types.ts
  scripts/guardrails/check.ts
Due: lint-check-typescript

Added plan ai-docs/migrate-dloop-to-this-repo, finished step 0
  ai-docs/migrate-dloop-to-this-repo/plan.md
  ai-docs/migrate-dloop-to-this-repo/reference/implement-new-contract-module.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/plan.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/00-scope-and-target-shape.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/01-contracts-and-dependency-copy-list.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/02-tooling-hardhat-build.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/03-tests-tier-a-unit-and-mocks.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/04-deploy-scripts-and-config.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/05-tests-tier-b-dlend-integration.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/06-ci-and-release-hygiene.md
  ai-docs/migrate-dloop-to-this-repo/reference/migrate-dloop-to-other-repo/steps/progress.md
  ai-docs/migrate-dloop-to-this-repo/steps/00-scope-and-target-shape.md
  ai-docs/migrate-dloop-to-this-repo/steps/01-contracts-sync-and-compilation.md
  ai-docs/migrate-dloop-to-this-repo/steps/02-config-and-network-agnostic-loader.md
  ai-docs/migrate-dloop-to-this-repo/steps/03-deploy-scripts-port-and-align.md
  ai-docs/migrate-dloop-to-this-repo/steps/04-tests-tier-a-unit-and-mocks.md
  ai-docs/migrate-dloop-to-this-repo/steps/05-tests-tier-b-integration-dlend.md
  ai-docs/migrate-dloop-to-this-repo/steps/06-ci-and-hygiene.md
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
Due: none

Deleted contract/vault
  contracts/vault/dLOOP/core/DLoopCoreBase.sol
  contracts/vault/dLOOP/core/venue/dlend/DLoopCoreDLend.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPool.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPoolAddressesProvider.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPriceOracleGetter.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/types/DataTypes.sol
  contracts/vault/dLOOP/periphery/DLoopDepositorBase.sol
  contracts/vault/dLOOP/periphery/DLoopWithdrawerBase.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashBorrower.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashLender.sol
  contracts/vault/dLOOP/periphery/venue/curve/CurveSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopDepositorCurve.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopWithdrawerCurve.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopDepositorOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopWithdrawerOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/OdosSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopDepositorUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopWithdrawerUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/UniswapV3SwapLogic.sol
  contracts/vault/reward_management/RewardClaimable.sol
  contracts/vault/reward_management/test/MockRewardClaimableVault.sol
Due: lint-check-contract

Updated dLOOP path in the plan
  ai-docs/migrate-dloop-to-this-repo/plan.md
  ai-docs/migrate-dloop-to-this-repo/steps/00-scope-and-target-shape.md
  ai-docs/migrate-dloop-to-this-repo/steps/01-contracts-sync-and-compilation.md
  ai-docs/migrate-dloop-to-this-repo/steps/04-tests-tier-a-unit-and-mocks.md
Due: none

Implemented step 1 of ai-docs/migrate-dloop-to-this-repo
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
  contracts/common/Compare.sol
  contracts/common/Rescuable.sol
  contracts/common/WithdrawalFeeMath.sol
  contracts/testing/dex/SimpleDEXMock.sol
  contracts/vaults/dLOOP/Design.md
  contracts/vaults/dLOOP/core/DLoopCoreBase.sol
  contracts/vaults/dLOOP/core/DLoopCoreLogic.sol
  contracts/vaults/dLOOP/core/DLoopQuoter.sol
  contracts/vaults/dLOOP/core/venue/dlend/DLoopCoreDLend.sol
  contracts/vaults/dLOOP/core/venue/dlend/interface/IPool.sol
  contracts/vaults/dLOOP/core/venue/dlend/interface/IPoolAddressesProvider.sol
  contracts/vaults/dLOOP/core/venue/dlend/interface/IPriceOracleGetter.sol
  contracts/vaults/dLOOP/core/venue/dlend/interface/IRewardsController.sol
  contracts/vaults/dLOOP/core/venue/dlend/interface/types/DataTypes.sol
  contracts/vaults/dLOOP/core/venue/mock/DLoopCoreMock.sol
  contracts/vaults/dLOOP/core/venue/mock/DLoopCoreShortfallMock.sol
  contracts/vaults/dLOOP/dloop-design.md
  contracts/vaults/dLOOP/periphery/DLoopDecreaseLeverageBase.sol
  contracts/vaults/dLOOP/periphery/DLoopDepositorBase.sol
  contracts/vaults/dLOOP/periphery/DLoopIncreaseLeverageBase.sol
  contracts/vaults/dLOOP/periphery/DLoopRedeemerBase.sol
  contracts/vaults/dLOOP/periphery/helper/SharedLogic.sol
  contracts/vaults/dLOOP/periphery/interface/flashloan/IERC3156FlashBorrower.sol
  contracts/vaults/dLOOP/periphery/interface/flashloan/IERC3156FlashLender.sol
  contracts/vaults/dLOOP/periphery/venue/mock/DLoopDecreaseLeverageMock.sol
  contracts/vaults/dLOOP/periphery/venue/mock/DLoopDepositorMock.sol
  contracts/vaults/dLOOP/periphery/venue/mock/DLoopIncreaseLeverageMock.sol
  contracts/vaults/dLOOP/periphery/venue/mock/DLoopRedeemerMock.sol
  contracts/vaults/dLOOP/periphery/venue/odos/DLoopDecreaseLeverageOdos.sol
  contracts/vaults/dLOOP/periphery/venue/odos/DLoopDepositorOdos.sol
  contracts/vaults/dLOOP/periphery/venue/odos/DLoopIncreaseLeverageOdos.sol
  contracts/vaults/dLOOP/periphery/venue/odos/DLoopRedeemerOdos.sol
  contracts/vaults/dLOOP/periphery/venue/odos/OdosSwapLogic.sol
  contracts/vaults/dLOOP/shared/RescuableVault.sol
Due: lint-check-contract

Revert "Deleted contract/vault"
  contracts/vault/dLOOP/core/DLoopCoreBase.sol
  contracts/vault/dLOOP/core/venue/dlend/DLoopCoreDLend.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPool.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPoolAddressesProvider.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPriceOracleGetter.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/types/DataTypes.sol
  contracts/vault/dLOOP/periphery/DLoopDepositorBase.sol
  contracts/vault/dLOOP/periphery/DLoopWithdrawerBase.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashBorrower.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashLender.sol
  contracts/vault/dLOOP/periphery/venue/curve/CurveSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopDepositorCurve.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopWithdrawerCurve.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopDepositorOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopWithdrawerOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/OdosSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopDepositorUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopWithdrawerUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/UniswapV3SwapLogic.sol
  contracts/vault/reward_management/RewardClaimable.sol
  contracts/vault/reward_management/test/MockRewardClaimableVault.sol
Due: lint-check-contract

Fixed failed test
  contracts/vault/dLOOP/core/DLoopCoreBase.sol
  contracts/vault/dLOOP/core/venue/dlend/DLoopCoreDLend.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPool.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPoolAddressesProvider.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/IPriceOracleGetter.sol
  contracts/vault/dLOOP/core/venue/dlend/interface/types/DataTypes.sol
  contracts/vault/dLOOP/periphery/DLoopDepositorBase.sol
  contracts/vault/dLOOP/periphery/DLoopWithdrawerBase.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashBorrower.sol
  contracts/vault/dLOOP/periphery/interface/flashloan/IERC3156FlashLender.sol
  contracts/vault/dLOOP/periphery/venue/curve/CurveSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopDepositorCurve.sol
  contracts/vault/dLOOP/periphery/venue/curve/DLoopWithdrawerCurve.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopDepositorOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/DLoopWithdrawerOdos.sol
  contracts/vault/dLOOP/periphery/venue/odos/OdosSwapLogic.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopDepositorUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/DLoopWithdrawerUniswapV3.sol
  contracts/vault/dLOOP/periphery/venue/uniswap-v3/UniswapV3SwapLogic.sol
  contracts/vault/reward_management/RewardClaimable.sol
  contracts/vaults/rewards_claimable/test/MockRewardClaimableVault.sol
Due: lint-check-contract

Implemented step 02 with some modification
  ai-docs/migrate-dloop-to-this-repo/examples/dloop.example.ts
  ai-docs/migrate-dloop-to-this-repo/steps/02-config-and-network-agnostic-loader.md
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
  config/networks/fraxtal_testnet.ts
  config/types.ts
  deploy/19_dloop/00_core/00_deploy_core_vaults.ts
Due: lint-check-typescript

Implemented step 03 with some modification
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
  config/networks/fraxtal_testnet.ts
  deploy/19_dloop/00_core/00_core_logic.ts
  deploy/19_dloop/00_core/00_deploy_core_vaults.ts
  deploy/19_dloop/00_core/00_dlend.ts
  deploy/19_dloop/00_core/01_quoter.ts
  deploy/19_dloop/03_periphery_odos/00_swap_logic.ts
  deploy/19_dloop/03_periphery_odos/01_depositor.ts
  deploy/19_dloop/03_periphery_odos/02_redeemer.ts
  deploy/19_dloop/03_periphery_odos/03_decrease_leverage.ts
  deploy/19_dloop/03_periphery_odos/04_increase_leverage.ts
  utils/vault/deploy-ids.ts
Due: lint-check-typescript

Implemented step 5
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
  contracts/mocks/MockPool.sol
  contracts/testing/dlend/MockPoolAddressesProvider.sol
  contracts/testing/dlend/MockPriceOracleGetter.sol
  contracts/testing/dlend/MockRewardsController.sol
  contracts/testing/dloop/DLoopCoreDLendHarness.sol
  test/dloop/DLoopCoreDLend/getTotalCollateralAndDebtOfUserInBase.test.ts
  test/dloop/DLoopCoreDLend/reward-compound.test.ts
  test/dloop/DLoopCoreDLend/simple-test.ts
Due: lint-check-typescript, lint-check-contract

Implemented step 6
  .github/workflows/shared-guardrails.yml
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
Due: none

Fixed lint and dLOOP tests with shared-guardrails
  .github/workflows/shared-guardrails.yml
  ai-docs/migrate-dloop-to-this-repo/steps/progress.md
  contracts/mocks/MockPool.sol
Due: lint-check-contract

Adjust dUSD kink borrow rate to 7.5%
  utils/lending/rate-strategies.ts
Due: lint-check-typescript

Add dUSD rate strategy update deploy script
  .memento/config.json
  .memento/hooks/definitions/acronym-expander.json
  .memento/hooks/definitions/git-context-loader.json
  .memento/hooks/definitions/memento-routing.json
  .memento/hooks/definitions/project-overview.json
  .memento/hooks/scripts/acronym-expander.sh
  .memento/hooks/scripts/git-context-loader.sh
  .memento/hooks/scripts/memento-routing.sh
  .memento/hooks/scripts/project-overview.sh
  .memento/manifest.json
  .memento/modes/ai-debt-maintainer.md
  .memento/modes/architect.md
  .memento/modes/autonomous-project-manager.md
  .memento/modes/engineer.md
  .memento/modes/reviewer.md
  .memento/scripts/list-modes.sh
  .memento/scripts/mode-switch.sh
  .memento/scripts/ticket-context.sh
  .memento/tickets/done/.gitignore
  .memento/tickets/in-progress/balance-checker-architecture-analysis.md
  .memento/workflows/openmemory-setup.md
  .memento/workflows/review.md
  .memento/workflows/summarize.md
  CLAUDE.md
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
Due: lint-check-typescript

Deploy to mainnet
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ReserveStrategy-rateStrategyDUSD-kink-7p5.json
Due: lint-check-typescript

Adjust dUSD kink borrow rate to 7.5% (#19)
  .memento/config.json
  .memento/hooks/definitions/acronym-expander.json
  .memento/hooks/definitions/git-context-loader.json
  .memento/hooks/definitions/memento-routing.json
  .memento/hooks/definitions/project-overview.json
  .memento/hooks/scripts/acronym-expander.sh
  .memento/hooks/scripts/git-context-loader.sh
  .memento/hooks/scripts/memento-routing.sh
  .memento/hooks/scripts/project-overview.sh
  .memento/manifest.json
  .memento/modes/ai-debt-maintainer.md
  .memento/modes/architect.md
  .memento/modes/autonomous-project-manager.md
  .memento/modes/engineer.md
  .memento/modes/reviewer.md
  .memento/scripts/list-modes.sh
  .memento/scripts/mode-switch.sh
  .memento/scripts/ticket-context.sh
  .memento/tickets/done/.gitignore
  .memento/tickets/in-progress/balance-checker-architecture-analysis.md
  .memento/workflows/openmemory-setup.md
  .memento/workflows/review.md
  .memento/workflows/summarize.md
  CLAUDE.md
  deploy/24_dusd_rate_update/00_update_dusd_rate_strategy.ts
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/ReserveStrategy-rateStrategyDUSD-kink-7p5.json
  utils/lending/rate-strategies.ts
Due: lint-check-typescript

Deployed dLOOP to fraxtal mainnet
  Makefile
  config/networks/fraxtal_mainnet.ts
  deploy/19_dloop/00_core/00_core_logic.ts
  deployments-log/fraxtal_mainnet-deploy_dloop.log
  deployments-log/fraxtal_testnet-deploy_dloop.log
  deployments/fraxtal_mainnet/.migrations.json
  deployments/fraxtal_mainnet/DLoopCoreDLend-3X-sfrxUSD.json
  deployments/fraxtal_mainnet/DLoopCoreLogic.json
  deployments/fraxtal_mainnet/DLoopDecreaseLeverageOdos.json
  deployments/fraxtal_mainnet/DLoopDepositorOdos.json
  deployments/fraxtal_mainnet/DLoopIncreaseLeverageOdos.json
  deployments/fraxtal_mainnet/DLoopQuoter.json
  deployments/fraxtal_mainnet/DLoopRedeemerOdos.json
  deployments/fraxtal_testnet/.chainId
  deployments/fraxtal_testnet/.migrations.json
  deployments/fraxtal_testnet/DLoopCoreDLend-sFRAX-3000000.json
  deployments/fraxtal_testnet/DLoopCoreLogic.json
  deployments/fraxtal_testnet/DLoopDepositorCurve-sFRAX.json
  deployments/fraxtal_testnet/DLoopDepositorCurve.json
  deployments/fraxtal_testnet/DLoopDepositorOdos-sFRAX.json
  deployments/fraxtal_testnet/DLoopDepositorOdos.json
  deployments/fraxtal_testnet/DLoopDepositorUniswapV3-sFRAX.json
  deployments/fraxtal_testnet/DLoopDepositorUniswapV3.json
  deployments/fraxtal_testnet/DLoopVaultCurve-sFRAX-3000000.json
  deployments/fraxtal_testnet/DLoopVaultUniswapV3-sFRAX-3000000.json
  deployments/fraxtal_testnet/DLoopWithdrawerCurve-sFRAX.json
  deployments/fraxtal_testnet/DLoopWithdrawerCurve.json
  deployments/fraxtal_testnet/DLoopWithdrawerOdos-sFRAX.json
  deployments/fraxtal_testnet/DLoopWithdrawerOdos.json
  deployments/fraxtal_testnet/DLoopWithdrawerUniswapV3-sFRAX.json
  deployments/fraxtal_testnet/DLoopWithdrawerUniswapV3.json
  deployments/fraxtal_testnet/OdosSwapLogic.json
  utils/hardhat-config/named_accounts.ts
Due: lint-check-typescript

chore: sync shared tools
  .gitignore
  README.md
  configs/eslint.config.mjs
  configs/prettier.config.cjs
  package.json
  scripts/deployments/check-contract-verification.ts
Due: lint-check-typescript

chore: sync shared tools
  .shared/.gitignore
  .shared/README.md
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  .shared/package.json
  .shared/scripts/deployments/check-contract-verification.ts
Due: lint-check-typescript

chore: remove claude artifacts
  .claude/commands/memento.md
  .claude/commands/mode.md
  .claude/commands/ticket.md
  .claude/settings.local.json
Due: lint-check-typescript

chore: ignore verify cache
  .gitignore
Due: none

chore: sync shared tools (#20)
  .claude/commands/memento.md
  .claude/commands/mode.md
  .claude/commands/ticket.md
  .claude/settings.local.json
  .gitignore
  .shared/.gitignore
  .shared/README.md
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  .shared/package.json
  .shared/scripts/deployments/check-contract-verification.ts
Due: lint-check-typescript

Path conditions:
  lint-check-typescript: any of: \.(json|js|ts)$
  lint-check-contract: any of: \.(sol)$
