Repository dtrinity/fraxtal-solidity-contracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check-typescript, lint-check-contract

lint-check-typescript:
  name: Lint and type-check TypeScript
  stages:
  - pre-commit
  language: system
  entry: make lint.typescript.ci

lint-check-contract:
  name: Lint and type-check Solidity contract
  stages:
  - pre-commit
  language: system
  entry: make lint.contract.ci

test: Add comprehensive test coverage for CurveLPWeightedOracleWrapper
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
Due: lint-check-typescript

test: Add critical security tests for CurveLPWeightedOracleWrapper
  SECURITY_TEST_FINDINGS.md
  contracts/test/curve/MockCurveStableNGForLP.sol
  contracts/test/curve/MockCurveStableNGForLPWithFailures.sol
  contracts/test/oracle/MockOracleAggregatorWithFailures.sol
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
Due: lint-check-typescript, lint-check-contract

feat: Add deployment infrastructure for CurveLPWeightedOracleWrapper
  deploy/02_oracle_aggregator/00_oracle_wrapper/03_deploy_curve_lp_weighted_oracle_wrapper.ts
  package.json
  test/oracle_aggregator/CurveLPHardPegOracleWrapper.test.ts
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.deployment.test.ts
  test/oracle_aggregator/CurveLPWeightedOracleWrapper.test.ts
  utils/oracle/deploy-ids.ts
  yarn.lock
Due: lint-check-typescript

feat: freeze sDAI reserve
  deploy/23_freeze_sdai/01_freeze_reserve.ts
Due: lint-check-typescript

fix: correct oracle comment label from scrvUSD/USD to scrvUSD/crvUSD (#9)
  config/networks/fraxtal_mainnet.ts
Due: lint-check-typescript

fix: ignore func.id in deploy id scanner
  .shared/scripts/deployments/find-hardcoded-deploy-ids.ts
Due: lint-check-typescript

chore: remove legacy ci workflow
  .github/workflows/node.js.yml
Due: none

Audit findings for swap adapters
  AUDIT.md
  contracts/lending/periphery/adapters/Design.md
Due: none

docs: finalize fraxtal attack steps and rca
  contracts/lending/periphery/adapters/ATTACK_STEPS.md
  contracts/lending/periphery/adapters/RCA.md
Due: none

fraxtal: add attack reproduction harness and docs
  .env.example
  .gitignore
  TENDERLY_SETUP.md
  contracts/lending/periphery/adapters/.gitignore
  contracts/lending/periphery/adapters/Reproduce.md
  contracts/lending/periphery/adapters/odos/OdosLiquiditySwapAdapter.sol
  contracts/testing/lending/IWithdrawHook.sol
  contracts/testing/odos/DusdHelperMock.sol
  contracts/testing/odos/LegacyOdosLiquiditySwapAdapter.sol
  contracts/testing/odos/MaliciousOdosRouterV2.sol
  contracts/testing/odos/MockAToken.sol
  contracts/testing/odos/MockPoolAddressesProvider.sol
  contracts/testing/odos/MockPriceOracleGetterV2.sol
  contracts/testing/odos/StatefulMockPool.sol
  contracts/testing/odos/ThreeVictimAttackExecutor.sol
  contracts/testing/token/TestMintableERC20.sol
  scripts/tenderly/README.md
  scripts/tenderly/compare-odos-attack-events.ts
  scripts/tenderly/fetch-fraxtal-attack-trace.ts
  test/lending/adapters/odos/v1/OdosLiquiditySwapAdapter.exploit.test.ts
  test/lending/adapters/odos/v1/fixtures/setup.ts
  test/lending/adapters/odos/v1/helpers/attackConstants.ts
  test/lending/adapters/odos/v1/helpers/testHelpers.ts
  typescript/tenderly/client.ts
Due: lint-check-typescript, lint-check-contract

chore: add dUSD deployment artifacts
  deployments/fraxtal_mainnet/DefaultProxyAdmin.json
  deployments/fraxtal_mainnet/ERC20StablecoinUpgradeable.json
  deployments/fraxtal_mainnet/ERC20StablecoinUpgradeable_Implementation.json
  deployments/fraxtal_mainnet/ERC20StablecoinUpgradeable_Proxy.json
  deployments/fraxtal_testnet/DefaultProxyAdmin.json
  deployments/fraxtal_testnet/ERC20StablecoinUpgradeable.json
  deployments/fraxtal_testnet/ERC20StablecoinUpgradeable_Implementation.json
  deployments/fraxtal_testnet/ERC20StablecoinUpgradeable_Proxy.json
Due: lint-check-typescript

feat: surface dUSD proxy ownership in role scan
  deployments/fraxtal_mainnet/dUSD.json
  deployments/fraxtal_mainnet/dUSD_Implementation.json
  deployments/fraxtal_mainnet/dUSD_Proxy.json
  deployments/fraxtal_testnet/dUSD.json
  deployments/fraxtal_testnet/dUSD_Implementation.json
  deployments/fraxtal_testnet/dUSD_Proxy.json
  scripts/roles/lib/scan.ts
  scripts/roles/scan-roles.ts
Due: lint-check-typescript

chore: add dUSD deployment artifacts (#12)
  deployments/fraxtal_mainnet/DefaultProxyAdmin.json
  deployments/fraxtal_mainnet/dUSD.json
  deployments/fraxtal_mainnet/dUSD_Implementation.json
  deployments/fraxtal_mainnet/dUSD_Proxy.json
  deployments/fraxtal_testnet/DefaultProxyAdmin.json
  deployments/fraxtal_testnet/dUSD.json
  deployments/fraxtal_testnet/dUSD_Implementation.json
  deployments/fraxtal_testnet/dUSD_Proxy.json
  scripts/roles/lib/scan.ts
  scripts/roles/scan-roles.ts
Due: lint-check-typescript

feat: Migrate to shared role management scripts
  package.json
  scripts/roles/lib/scan.ts
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
Due: lint-check-typescript

chore: Update yarn.lock after .shared subtree integration
  yarn.lock
Due: none

fix: reference shared Safe helpers
  config/types.ts
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  package.json
  typescript/hardhat/governance.ts
Due: lint-check-typescript

feat: Migrate to shared role management scripts (#13)
  INTEGRATION.md
  Makefile
  lib/index.ts
  lib/roles/safe-manager.ts
  lib/roles/scan.ts
  lib/roles/types.ts
  package.json
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
Due: lint-check-typescript

feat: Migrate to shared role management scripts (#13)
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/lib/index.ts
  .shared/lib/roles/safe-manager.ts
  .shared/lib/roles/scan.ts
  .shared/lib/roles/types.ts
  .shared/package.json
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-roles.ts
  config/types.ts
  deploy/22_issue_redeem_v2/1_setup_issuerv2.ts
  deploy/22_issue_redeem_v2/2_setup_redeemerv2.ts
  package.json
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
  typescript/hardhat/governance.ts
  yarn.lock
Due: lint-check-typescript

feat: adopt shared oracle price inspector
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/README.md
  .shared/hooks/pre-commit
  .shared/lib/index.ts
  .shared/lib/oracles/prices/asset-extractors.ts
  .shared/lib/oracles/prices/cli.ts
  .shared/lib/oracles/prices/config-loader.ts
  .shared/lib/oracles/prices/deployment-classifier.ts
  .shared/lib/oracles/prices/runner.ts
  .shared/lib/oracles/prices/types.ts
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/runner.ts
  .shared/lib/roles/safe-manager.ts
  .shared/lib/roles/scan.ts
  .shared/package-lock.json
  .shared/package.json
  .shared/scripts/oracles/show-prices.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-roles.ts
  .shared/scripts/tests/run.ts
  scripts/oracle/show_oracle_prices.ts
  yarn.lock
Due: lint-check-typescript

chore(shared): enforce pre-push guardrails defaults
  .shared/INTEGRATION.md
  .shared/README.md
  .shared/hooks/pre-push
Due: none

chore: refresh lockfile after shared tools update
  yarn.lock
Due: none

Squashed '.shared/' changes from 48d15db..8bd4b3f
  lib/deployments/nsloc.ts
  scripts/linting/prettier.ts
Due: lint-check-typescript

chore: sync eslint prettier settings
  eslint.config.mjs
Due: none

feat: adopt shared oracle price inspector (#14)
  .shared/.gitignore
  .shared/.yarnrc.yml
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/README.md
  .shared/hooks/pre-commit
  .shared/hooks/pre-push
  .shared/lib/deployments/nsloc.ts
  .shared/lib/index.ts
  .shared/lib/oracles/prices/asset-extractors.ts
  .shared/lib/oracles/prices/cli.ts
  .shared/lib/oracles/prices/config-loader.ts
  .shared/lib/oracles/prices/deployment-classifier.ts
  .shared/lib/oracles/prices/runner.ts
  .shared/lib/oracles/prices/types.ts
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/runner.ts
  .shared/lib/roles/safe-manager.ts
  .shared/lib/roles/scan.ts
  .shared/package-lock.json
  .shared/package.json
  .shared/scripts/linting/prettier.ts
  .shared/scripts/oracles/show-prices.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-roles.ts
  .shared/scripts/setup.ts
  .shared/scripts/tests/run.ts
  .shared/tsconfig.json
  .shared/types/ambient-ethers.d.ts
  .shared/types/ambient-hardhat.d.ts
  .shared/types/node-globals.d.ts
  eslint.config.mjs
  scripts/oracle/show_oracle_prices.ts
  yarn.lock
Due: lint-check-typescript

feat: adopt shared oracle price inspector (#14)
  .gitignore
  .yarnrc.yml
  INTEGRATION.md
  Makefile
  README.md
  hooks/pre-commit
  hooks/pre-push
  lib/deployments/nsloc.ts
  lib/index.ts
  lib/oracles/prices/asset-extractors.ts
  lib/oracles/prices/cli.ts
  lib/oracles/prices/config-loader.ts
  lib/oracles/prices/deployment-classifier.ts
  lib/oracles/prices/runner.ts
  lib/oracles/prices/types.ts
  lib/roles/manifest.ts
  lib/roles/planner.ts
  lib/roles/runner.ts
  lib/roles/safe-manager.ts
  lib/roles/scan.ts
  package-lock.json
  package.json
  scripts/linting/prettier.ts
  scripts/oracles/show-prices.ts
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-roles.ts
  scripts/setup.ts
  scripts/tests/run.ts
  tsconfig.json
  types/ambient-ethers.d.ts
  types/ambient-hardhat.d.ts
  types/node-globals.d.ts
Due: lint-check-typescript

chore: update .shared subtree from shared-hardhat-tools
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/README.md
  .shared/RolesScriptRefactorPlan.md
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/multicall.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/runner.ts
  .shared/lib/roles/scan.ts
  .shared/package.json
  .shared/scripts/roles/grant-default-admin.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-ownership.ts
  .shared/scripts/roles/transfer-roles.ts
Due: lint-check-typescript

feat: add role manifest configuration and Makefile defaults
  Makefile
  manifests/fraxtal-mainnet-roles.json
  manifests/fraxtal-testnet-roles.json
Due: lint-check-typescript

chore: update .shared subtree from shared-hardhat-tools (#16)
  INTEGRATION.md
  Makefile
  README.md
  RolesScriptRefactorPlan.md
  lib/roles/manifest.ts
  lib/roles/multicall.ts
  lib/roles/planner.ts
  lib/roles/runner.ts
  lib/roles/scan.ts
  package.json
  scripts/roles/grant-default-admin.ts
  scripts/roles/revoke-roles.ts
  scripts/roles/scan-roles.ts
  scripts/roles/transfer-ownership.ts
  scripts/roles/transfer-roles.ts
Due: lint-check-typescript

chore: update .shared subtree from shared-hardhat-tools (#16)
  .shared/INTEGRATION.md
  .shared/Makefile
  .shared/README.md
  .shared/RolesScriptRefactorPlan.md
  .shared/lib/roles/manifest.ts
  .shared/lib/roles/multicall.ts
  .shared/lib/roles/planner.ts
  .shared/lib/roles/runner.ts
  .shared/lib/roles/scan.ts
  .shared/package.json
  .shared/scripts/roles/grant-default-admin.ts
  .shared/scripts/roles/revoke-roles.ts
  .shared/scripts/roles/scan-roles.ts
  .shared/scripts/roles/transfer-ownership.ts
  .shared/scripts/roles/transfer-roles.ts
  Makefile
  manifests/fraxtal-mainnet-roles.json
  manifests/fraxtal-testnet-roles.json
Due: lint-check-typescript

Add doc for calculating rebate APY
  docs/rebate-apy.md
Due: none

Migrate Issuer v2.2 upgrade from Ethereum
  .shared/configs/eslint.config.mjs
  .shared/configs/prettier.config.cjs
  .solhint.json
  config/networks/fraxtal_testnet/liquidator-curve.ts
  contracts/dusd/AmoDebtToken.sol
  contracts/dusd/AmoManagerV2.sol
  contracts/dusd/CollateralVault.sol
  contracts/dusd/IssuerV2_2.sol
  contracts/lending/core/deployments/ReservesSetupHelper.sol
  deploy/01_dex/03_post/03_universal_router.ts
  deploy/30_dusd_upgrade_v2_2/00_deploy_issuer_v2_2.ts
  deploy/30_dusd_upgrade_v2_2/01_deploy_amo_manager_v2.ts
  hardhat.config.price-aggregator.ts
  hardhat.config.token.ts
  hardhat.config.ts
  test/curve/registry.ts
  test/dlend/swap-adapters/liquiditySwap.ts
  test/dlend/swap-adapters/repay.ts
  test/dlend/swap-adapters/withdrawSwap.ts
  test/dusd/AmoManagerV2.ts
  test/dusd/IssuerV2_2.ts
  utils/deploy-ids.ts
Due: lint-check-typescript, lint-check-contract

lint
  test/dstable/RedeemerWithFees.test.ts
  test/dusd/AmoManagerV2.ts
  test/dusd/IssuerV2_2.ts
  test/vaults/dstake/DStakeRouterDLend.test.ts
  test/vaults/dstake/DStakeSecurity.test.ts
  test/vaults/dstake/DStakeToken.test.ts
  test/vaults/vesting/ERC20VestingNFT.test.ts
  test/vaults/vesting/fixtures.ts
Due: lint-check-typescript

Path conditions:
  lint-check-typescript: any of: \.(json|js|ts)$
  lint-check-contract: any of: \.(sol)$
